.reveal section img {
  border: 0;
  box-shadow: none;
}

.reveal p {
  font-size: 36px;
}

.reveal ul {
  align: center;
  font-size: 34px;
}

.reveal ol {
  align: center;
  font-size: 34px;
}

.reveal li {
  text-align: center;
}
